.semesterContainer{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    /*background-color: rgba(190, 190, 190, 1);*/
    border-radius: 30px;
    width: auto;
    /*Trocando width para auto*/
    /* height: 40rem; */
    align-items: center;
    justify-content: center;
    gap: 1rem 0.1rem;
}

.semesterContainer:hover {
    /*background-color: rgba(190, 190, 190, 0.895); */
    cursor: pointer; 
}

.semesterContainerFather{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin:1px;
    align-items: center;
    justify-content: center;
}