.semesterContainer{
    display: flex;
    flex-direction: column;
    background-color: rgba(190, 190, 190, 1);
    border-radius: 30px;
    width: 20rem;
    height: 40rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.semesterContainer:hover {
    background-color: rgba(190, 190, 190, 0.895); 
    cursor: pointer; 
}