.body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 9fr;
    margin: auto;
    background-color: rgba(217, 217, 217, 1);
    background-color: hsl(0, 0%, 93%);
}

.header {
    display: flex;
    grid-template-columns: 1fr;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5vw;
}

.cardSemester {
    padding: 25px;
    display: flex;
    max-height: 800px;
    max-width: 70%;
    margin: auto;
    border-radius: 30px;
    align-items: flex-start;
    box-sizing: border-box;
    /*justify-content: center;*/
    justify-content:safe center;;
    gap: 3vw;
    overflow-anchor: none;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: auto;
    /*scrollbar-width: none;*/
    scrollbar-color: gray  hsla(0, 0%, 63%, 0.678);
    scrollbar-base-color: gray gray;
    scroll-behavior: smooth;
    scrollbar-width: 90%;
    box-shadow: 5px 5px 5px 5px hsla(0, 0%, 0%, 0.2) inset;
}

