.body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 9fr;
    margin: auto;
    background-color: rgba(217, 217, 217, 1);
}

.header {
    display: flex;
    grid-template-columns: 1fr;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.cardSemester {
    display: flex;
    background-color: rgba(190, 190, 190, 1);
    border-radius: 30px;
    width: 20rem;
    height: 40rem;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}