.headerContainer{
    width: 100vw;
    height: 10vh;
    background-color: rgba(92, 133, 195, 1);
    display: flex;
    align-items: center;
}

.cardHeader{ 
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    gap: 37vw; /* solucao provisoria - tentar centralizar automatico */
}

.iconHeader{
    color:white;
    font-size: 5vh;
    height: 100%;
    justify-self: left;
    display: flex;
    margin-left: 0.5vw;
}

.titleHeader{
    font-size: 5vh;
    display: flex;
    height:100%;
    color:white;
    align-items: center;
}