.body {
    display: grid;
    height: 100%;
    width: 100%;
}

.botao-customizado {
    display: flex;
    flex-direction: column;
    background-color: rgba(190, 190, 190, 1);
    border-radius: 30px;
    width: 15vw;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.botao-customizado:hover {
    background-color: rgb(180, 178, 178);
    cursor: pointer;
    transform: scale(1.02);
}

.mais{
    font-size: 13vw;
    color: gray;
}